<link rel="stylesheet" href="<%= assetPath('css/profile.css')%>" />
<p>Profile</p>

<img src="<%= user.avatar %>" alt="<%= user.name %> " width="100" />

<%if(user.id==profile_user.id){%>
<form
  action="/users/update/<%= profile_user.id%>"
  method="post"
  enctype="multipart/form-data"
>
  <input
    type="text"
    name="name"
    placeholder="Your Name..."
    value="<%= profile_user.name %>"
    required
  />
  <input
    type="email"
    name="email"
    placeholder="Your Email..."
    value="<%= profile_user.email %>"
    required
  />
  <input
    type="file"
    name="avatar"
    id="avatar"
    onchange="previewFile()"
    placeholder="Profile Picture"
  />
  <img
    src="#"
    alt="Preview"
    id="avatar-preview"
    style="display: none; width: 100px"
  />
  <input type="submit" value="update" />
</form>
<p>Name: <%= profile_user.name %></p>
<p>Email: <%= profile_user.email %></p>
<%}else{%>
<p>Name: <%= profile_user.name %></p>
<p>Email: <%= profile_user.email %></p>
<%}%>

<script src="/js/file_preview.js"></script>
